* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  background-color: #fff;
  font-family: "Avenir Next", "roboto";
  src: url("http://www.yoursite.com/fonts/Avenir_Next.otf");
}

.overflowHidden {
  margin: 0;
  padding: 0;
}
/*global style*/
a,
li,
ul,
button {
  list-style: none;
  text-decoration: none;
}

hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

/*header & footer list style*/
.list-item a {
  color: #22232b;
  font-weight: 900;
}

.current a {
  color: #00c98d;
}

.list-item a:hover {
  color: #00c98d;
}

.list-item a:active {
  color: #00c98d;
}

/*header, main,footer style*/
.outer {
  max-width: 1326px;
  margin: 0 auto;
}

.inner {
  width: 100%;
  overflow: hidden;
}

/*individual style for header*/
.nav-inner {
  margin-top: 26px;
}

.logo img {
  max-width: 80%;
}
.flex-nav {
  display: inline-flex;
  justify-content: space-between;
  font-size: 0.9rem;
}

.left-nav {
  display: inline-flex;
  max-width: 1009px;
  padding: 0 42px 0 0;
}
.left-nav li {
  padding-right: 42px;
}

.right-nav {
  width: 100%;
  display: flex;
}

.right-nav li {
  margin-right: 44px;
}

.right-nav li:last-child {
  margin-right: 0;
}

.cartButton {
  cursor: pointer;
  background-color: transparent;
  position: relative;
}

.cartButtonSpan {
  display: none;
  color: #fff;
  font-size: 0.7rem;
  font-weight: 600;
  background-color: #00c98d;
  border: 1px solid #00c98d;
  border-radius: 50%;
  padding: 10% 20%;
  position: absolute;
  top: -10px;
  left: 15px;
}

/*individual style for search & filter*/
.search-filter {
  max-width: 1326px;
  margin: 0 auto;
  display: flex;
}

.search-wrapper {
  width: 960px;
  margin-top: 4px;
}

.search-icon {
  display: inline-block;
}

.search-wrapper input {
  background: url(../img/Search.png) no-repeat;
  width: 100%;
  max-width: 100%;
  font-size: 1.5rem;
  padding: 5px 10px;
  margin-bottom: 2px;
  border: none;
  border-bottom: 1.2px solid #979797;
}

.search-wrapper input:focus {
  background-image: none;
  outline: 0;
  box-shadow: 0 0 2px 1px #979797;
}

.sort-options {
  width: 100%;
  max-width: 298px;
  margin-left: 45px;
  position: relative;
}

.sort-options select {
  cursor: pointer;
  width: 100%;
  max-width: 298px;
  font-size: 1.5rem;
  padding: 7px 10px;
  border: none;
  background-color: #fff;
  border-bottom: 1.2px solid #979797;
  background: transparent;
  background-image: none;
  -webkit-appearance: none;
  appearance: none;
}

.sort-options select:focus {
  outline: 0;
  box-shadow: 0 0 2px 2px #979797;
}

.sort-options option:focus {
  outline: none;
  border: none;
}

/*individual style for main*/
.carousel-wrapper {
  color: #fff;
  margin-top: 55px;
  overflow: hidden;
  box-sizing: border-box;
}

.carousel {
  position: relative;
}

.carousel-img img {
  width: 100%;
  max-width: 1326px;
}

.carousel-img {
  display: flex;
  /* transform: translate(0%,0); */
  height: 560px;
  object-fit: cover;
  transition: linear 1s;
}

.bg-img-bk {
  background-color: rgba(0, 0, 0, 0.4);
  height: 560px;
  z-index: 100;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.eye-catch {
  margin-left: 80px;
}

.main-h1 {
  font-size: 3rem;
  padding-top: 64px;
}

.sub-h2 {
  font-size: 1.6rem;
  border-bottom: 1px solid #fff;
  width: 185px;
}

/* next and prev btn */
/* https://bagelee.com/design/css/css-triangle/ */
.carousel-button-next {
  display: none;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border: 2px solid;
  border-color: #fff #fff transparent transparent;
  opacity: 0.7;
  transform: rotate(45deg);
  position: absolute;
  top: 50%;
  right: 0;
  bottom: 0;
  left: 95%;
}

.carousel-button-prev {
  display: none;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border: 2px solid;
  border-color: transparent transparent #fff #fff;
  opacity: 0.7;
  transform: rotate(45deg);
  position: absolute;
  top: 50%;
  right: 0;
  bottom: 0;
  left: 2%;
}

.mobile {
  display: none;
}

/*individual style for footer*/
.footer {
  margin-top: 105px;
  margin-bottom: 100px;
}

.footer-inner {
  display: flex;
  width: 80%;
  margin: 0 auto;
  margin-top: 61px;
}

.sub-footer-ul {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  margin: 2rem 5rem 2rem 0;
}

.sub-footer-ul li {
  padding-right: 50px;
}

.sub-footer-ul a {
  padding: 10px;
}

.social-media-ul {
  display: flex;
}

.footer-social-media {
  margin: 0;
  padding: 0;
}

.social-media-item {
  padding: 20px 50px 5px 5px;
}

.social-media-item img:hover {
  background-color: #00c98d;
}

.social-media-item:last-child {
  padding-right: 5px;
}

/* item view lists shop.html */
.two-colum-desktop {
  display: flex;
  margin-top: 55px;
}

.left-side {
  width: 100%;
  max-width: 340px;
  margin: 0 auto;
  font-size: 1.5rem;
}

.filter-by-wrapper select {
  cursor: pointer;
}

.mobile-filter {
  display: none;
}

.filter-by-title {
  color: #979797;
  margin-bottom: 50px;
  font-size: 1.3rem;
}

.filter-title {
  width: 80%;
  font-size: 1.5rem;
  padding: 10px;
  border: none;
  border-bottom: 1.2px solid #979797;
  position: relative;
  overflow: hidden;
}

.filter-title span {
  padding: 8px;
}

.arrow {
  cursor: pointer;
  max-width: 18px;
  height: 18px;
  border: 3px solid;
  border-color: transparent #000 #000 transparent;
  transform: rotate(45deg);
  position: absolute;
  top: 10%;
  right: 0;
  bottom: 0;
  left: 85%;
}



.color-check,
.category-check {
  display: none;
}

.individualColor,
.individualCategory {
  margin-bottom: 15px;
}

.individualColor input[type="checkbox"],
.individualCategory input[type="checkbox"] {
  display: none;
}

.designedCheckbox {
  position: relative;
  padding: 0 0 0 55px;
  text-transform: capitalize;
  cursor: pointer;
}

.designedCheckbox::after,
.designedCheckbox::before {
  position: absolute;
  content: "";
  display: block;
  top: 40%;
  cursor: pointer;
}

.designedCheckbox::after {
  left: 15px;
  padding: 2px;
  margin-top: -10px; /* the position of check box */
  width: 100%;
  max-width: 20px;
  height: 20px;
  border: 2px solid #aaaaaa;
  border-radius: 6px;
}

.designedCheckbox::before {
  left: 24px; /* position of check */
  margin-top: -6px; /* position of check */
  width: 100%;
  max-width: 7px; /* size of the box (tick inside) */
  height: 13px; /* height of the box (tick inside) */
  border-right: 3px solid #0171bd;
  border-bottom: 3px solid #0171bd;
  transform: rotate(45deg); /* rotate the tick */
  opacity: 0; /* clear when no checked */
}

.color-check input[type="checkbox"]:checked + .designedCheckbox::before {
  opacity: 1;
}

.category-check input[type="checkbox"]:checked + .designedCheckbox::before {
  opacity: 1;
}

/* price drag  */
.price-range-wrap {
  width: 85%;
}
.price-range-title {
  padding-left: 10px;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 2px;
  border-radius: 5px;
  background: #979797;
  outline: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border: 2px solid rgb(24, 22, 22);
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
}

.slideContainer {
  display: flex;
  position: relative;
}

.slider {
  border: none;
  color: #fff;
}

.sliderMin {
  position: absolute;
  width: 50%;
}

.sliderMax {
  position: absolute;
  width: 50%;
  left: 49%;
}

.slideContainer p {
  padding-top: 5px;
  font-size: 0.6em;
}

.max {
  width: 100%;
  text-align: right;
}

.list-of-items {
  box-sizing: border-box;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}

.item {
  cursor: pointer;
  height: 346px;
  font-size: 1.6em;
  position: relative;
  margin-right: 41px;
  margin-bottom: 48px;
  min-width: calc(33.33333333% - 86px / 3);
  overflow: hidden;
  box-shadow: 0.1px 0.1px 5px 1px #f2f2f2;
}

.item:hover {
  transform: scale(1.1);
}

.item:nth-child(3n) {
  margin-right: 0;
}

.item-details {
  padding: 0;
  margin: 0;
  display: flex;
  overflow: hidden;
  height: 25%;
}

.name-type {
  background-color: #fff;
  width: 180px;
  height: 126px;
  position: absolute;
  top: 65%;
  right: 0;
  bottom: 0;
  left: 0;
}

.name-type p {
  margin-bottom: 5px;
  padding: 2px 0 0 15px;
}

.item-type {
  color: #979797;
  font-size: 0.7em;
  margin-top: 0;
}

.price-submit {
  width: 40%;
  position: absolute;
  top: 73%;
  right: 0;
  left: 55%;
  text-align: right;
}

.addToCart {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.pagination-wrapper {
  margin-top: 68px;
  display: flex;
  justify-content: center;
}

#pagination button {
  font-weight: 900;
  background-color: #fff;
  border-style: none;
  border: 1px solid #ccc;
  padding: 13px;
  margin-right: 30px;
}

#pagination button:hover {
  cursor: pointer;
  background-color: #00c98d;
}

#pagination button.active {
  color: #fff;
  background-color: #00c98d;
}

/* item preview page, preview.html */

.preview-wrapper {
  margin-top: 110px;
}
.red {
  font-size: 1rem;
  width: 1100px;
  margin: 0 auto;
}

.preview-description {
  display: flex;
}

.img-pre {
  display: inline-flex;
  flex-direction: column;
}

.preview-img {
  border: 1px solid green;
  width: 683px;
  height: 330px;
  filter: brightness(70%);
}

.preview-item-details {
  width: 264px;
  margin-left: 18px;
}

.preview-item-tagline {
  font-size: 0.8em;
  width: 70%;
}

.preview-color {
  width: 150px;
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}

.color-radio {
  border-radius: 50%;
  width: 28px;
  height: 28px;
}

.grey {
  background-color: #c0c0c0;
  border: 2px solid #000;
}

.ivory {
  background-color: #f8f8af;
    border: 2px solid #000;

}

.violet {
  background-color: #EE82EE;
    border: 2px solid #000;

}
.btns {
  cursor: pointer;
  margin-top: 7px;
}
.add-to-basket,
.detail-toggle {
  text-align: center;
  font-size: 0.8em;
  letter-spacing: 2px;
  width: 100%;
  height: 40px;
  margin-top: 6px;
}

.add-to-basket {
  color: #fff;
  background-color: #131313;
  border: 1px solid #131313;
}

.toggleNone {
  display: none;
}

.detail-toggle {
  border: 1px solid #131313;
}

.detail-toggle p {
  position: relative;
}

.detail-toggle span {
  cursor: pointer;
  width: 8px;
  height: 8px;
  border: 3px solid;
  border-color: transparent #131313 #131313 transparent;
  transform: rotate(45deg);
  position: absolute;
  top: -10%;
  right: 0;
  bottom: 0;
  left: 90%;
}

.slides {
  display: flex;
}

.slide-img {
  margin: 30px;
  width: 55%;
  position: relative;

  filter: brightness(80%);
}

.slide-img div {
  display: inline-flex;
  border: 1px solid #131313;
  margin-right: 10px;
}

.slide-img::before,
.slide-img::after {
  content: "";
  cursor: pointer;
  width: 8px;
  height: 8px;
  border: 3px solid;
  border-color: transparent #131313 #131313 transparent;
  position: absolute;
}

.slide-img::before {
  transform: rotate(135deg);
  top: 37%;
  right: 0;
  bottom: 0;
  left: -5%;
}

.slide-img::after {
  transform: rotate(-45deg);
  top: 37%;
  right: 0;
  bottom: 0;
  right: 8%;
}

.preview-toggle-details ul{
  padding-left: 0;
  margin-bottom: -50px;
  font-size: 1em;
}
